@font-face {
    font-family: 'Aptos Black Italic';
    src: url('../fonts/aptos-black-italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Black';
    src: url('../fonts/aptos-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Bold Italic';
    src: url('../fonts/aptos-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Bold';
    src: url('../fonts/aptos-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Display Bold Italic';
    src: url('../fonts/aptos-display-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Display Bold';
    src: url('../fonts/aptos-display-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Display Italic';
    src: url('../fonts/aptos-display-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Display';
    src: url('../fonts/aptos-display.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos ExtraBold Italic';
    src: url('../fonts/aptos-extra-bold-italic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos ExtraBold';
    src: url('../fonts/aptos-extra-bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Italic';
    src: url('../fonts/aptos-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Light Italic';
    src: url('../fonts/aptos-light-italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Light';
    src: url('../fonts/aptos-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Mono Bold Italic';
    src: url('../fonts/aptos-mono-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Mono Bold';
    src: url('../fonts/aptos-mono-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Mono Italic';
    src: url('../fonts/aptos-mono-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Mono';
    src: url('../fonts/aptos-mono.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Narrow Bold Italic';
    src: url('../fonts/aptos-narrow-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Narrow Bold';
    src: url('../fonts/aptos-narrow-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Narrow Italic';
    src: url('../fonts/aptos-narrow-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('../fonts/aptos-narrow.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Semibold Italic';
    src: url('../fonts/aptos-semibold-italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Semibold';
    src: url('../fonts/aptos-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Serif Bold Italic';
    src: url('../fonts/aptos-serif-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Serif Bold';
    src: url('../fonts/aptos-serif-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Serif Italic';
    src: url('../fonts/aptos-serif-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Serif';
    src: url('../fonts/aptos-serif-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('../fonts/aptos.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Aptos', sans-serif;
    text-align: center;
    background-color: #1d1d1f;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #837567;
}

h2 {
    color: #837567;
    text-align: left;
    margin-bottom: 4px;
}

.small-separator {
    width: 7%;
    color: #282828;
}

.links-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.links-column {
    flex: 1;
}

.links-row {
    display: flex;
    justify-content: space-between;
}

.left {
    padding-right: 10px;
}

.link-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.link-entry {
    display: flex;
    align-items: center;
    width: 230px;
    height: 30px;
    background-color: #282828;
    padding: 0;
    border: none;
    border-radius: 6px;
    color: #fff;
    text-align: left;
}

.link-entry:hover {
    cursor: pointer;
    background-color: #323232;
}

.link-entry:active {
    background-color: #1d1d1f;
}

.link-entry:focus {
    outline: 1px solid #cdcdcd;
}

.link-entry-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link-entry-shortcut {
    font-size: 1em;
    font-weight: bold;
    color: #fe8019;
    width: 50px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.link-entry-shortcut::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 1.5em;
    background-color: #ffffff49;
    position: absolute; /* Position absolute to align it to the end */
    right: 0; /* Align to the end of the span */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
}

.link-entry-title {
    font-size: 1em;
    color: #837567;
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
}
