@font-face {
    font-family: 'Aptos Black Italic';
    src: url('../fonts/aptos-black-italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Black';
    src: url('../fonts/aptos-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Bold Italic';
    src: url('../fonts/aptos-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Bold';
    src: url('../fonts/aptos-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Display Bold Italic';
    src: url('../fonts/aptos-display-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Display Bold';
    src: url('../fonts/aptos-display-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Display Italic';
    src: url('../fonts/aptos-display-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Display';
    src: url('../fonts/aptos-display.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos ExtraBold Italic';
    src: url('../fonts/aptos-extrabold-italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos ExtraBold';
    src: url('../fonts/aptos-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Italic';
    src: url('../fonts/aptos-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Light Italic';
    src: url('../fonts/aptos-light-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Light';
    src: url('../fonts/aptos-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Mono Bold Italic';
    src: url('../fonts/aptos-mono-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Mono Bold';
    src: url('../fonts/aptos-mono-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Mono Italic';
    src: url('../fonts/aptos-mono-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Mono';
    src: url('../fonts/aptos-mono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Narrow Bold Italic';
    src: url('../fonts/aptos-narrow-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Narrow Bold';
    src: url('../fonts/aptos-narrow-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Narrow Italic';
    src: url('../fonts/aptos-narrow-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('../fonts/aptos-narrow.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Semibold Italic';
    src: url('../fonts/aptos-semibold-italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Semibold';
    src: url('../fonts/aptos-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Serif Bold Italic';
    src: url('../fonts/aptos-serif-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Serif Bold';
    src: url('../fonts/aptos-serif-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Serif Italic';
    src: url('../fonts/aptos-serif-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos Serif';
    src: url('../fonts/aptos-serif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('../fonts/aptos.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Aptos', sans-serif;
    text-align: center;
    background-color: #1E1D1C;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #424242;
}

h2 {
    text-align: left;
}

.small-separator {
    width: 7%;
    color: #282828;
}

.links-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.links-column {
    flex: 1;
}

.links-row {
    display: flex;
    justify-content: space-between;
}

.left {
    padding-right: 10px;
}

.link-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.link-entry {
    display: flex;
    align-items: center;
    width: 230px;
    height: 30px;
    background-color: #282828;
    border: none;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    text-align: left;
}

.link-entry:hover {
    cursor: pointer;
    background-color: #323232;
}

.link-entry:active {
    background-color: #1E1D1C;
}

.link-entry:focus {
    outline: 1px solid #fff;
}

.link-entry-shortcut {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    margin-right: 0.5em;
}

.link-entry-title {
    font-size: 1em;
    color: #837567;
}